.h1{
    text-shadow:1px 1px 4px #000;
    color: rgb(0,255,127);
}
.span{
    -ms-animation: blink 1s infinite alternate;
    -moz-animation: blink 1s infinite alternate;
    -o-animation: blink 1s infinite alternate;
    -webkit-animation: blink 1s infinite alternate;
    animation: blink 1s infinite alternate;
}
@keyframes blink{
    from{opacity: 1;}
    to{opacity:0;}
}
.svg:hover{
    opacity:0.5;
}
.subnav{
    color:greenyellow;
    font-weight: bold;
    font-size:20px;
}
.subnav:hover{
    color:greenyellow;
    opacity:0.7;
}