.section{
    left:79vw;
    bottom:20px;
}
.div{
    position:relative;
    left:30px;
    background-color: #00ff00;
    border-radius:100vw;
    width:60px;
    height:60px;
    cursor:pointer;
    opacity:0.6;
    -webkit-transition:opacity 1s ease;
    -o-transition:opacity 1s ease;
    -ms-transition:opacity 1s ease;
    -moz-transition:opacity 1s ease;
    transition:opacity 1s ease;
}
.div:hover{
    opacity:1;
}
.div:active{
    background-color: #33cc33;
}
.svg{
    position:relative;
    top:25%;
    left:25%;
    color:#ffffff;
}