.span{
    text-shadow:1px 1px 4px;
    -o-animation: accent 2s infinite alternate;
    -moz-animation: accent 2s infinite alternate;
    -webkit-animation: accent 2s infinite alternate;
    animation: accent 2s infinite alternate;
}
@keyframes accent{
    from{text-shadow:1px 1px 1px;}
    to{text-shadow:2px 2px 4px;}
}