.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}
.shadow:active{
    box-shadow: none;
}
.shadow:hover{
    opacity:0.9;
    background-color: rgb(245,245,245);
}
.noUnderline:hover{
    text-decoration: none;
}
.cardHeader{
    text-shadow: 1pt 1pt 2pt #000000;
}