.wget{
    color:#f8f9fa;
    background-color:#343a40;
}
.youtubeDl{
    color:#ffffff;
    background-color:#dc3545;
}
.ffmpeg{
    color:#52f94a;
    background-color: #343a40;
}
.phuber{
    color: #ffc107;
    background-color: #6c757d;
}
