.button{
    background-color:#116aa2;
    border-bottom:2pt dashed #fff;
    color:#ffffff;
}
.button:last-child{
    border-bottom:0;
}
.button:hover{
    background-color:#a6a6a6;
    color:white;
}
.div{
    position:relative;
    left:18px;
    -moz-animation: reveal 0.75s ease-in;
    -o-animation: reveal 0.75s ease-in;
    -webkit-animation: reveal 0.75s ease-in;
    animation: reveal 0.75s ease-in;
}
@keyframes reveal{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}